<div class="header">
  <div class="d-flex justify-content-between mx-5 py-4">
    <!-- left side content -->
    <div class="d-flex">
      <!-- logo -->

      <span class="mx-4 text-md font-semi-bold">WOMEN</span>
      <span class="mx-4 text-md font-semi-bold">MEN</span>
      <span class="mx-4 text-md font-semi-bold">KIDS</span>
    </div>
    <!-- right side content -->
    <div class="d-flex">
      <span class="mx-4 text-md font-semi-bold">ABOUT</span>
      <span class="mx-4 text-md font-semi-bold">CONTACT US</span>
    </div>
  </div>
</div>
