<div class="header">
  <div class="d-flex justify-content-between mx-5 py-4">
    <!-- left side content -->
    <div class="d-flex align-items-center">
      <span class=""><img src="icon.png" class="icon-image" /></span>
      <span class="mx-4 text-md font-semi-bold text-white">WOMEN</span>
      <span class="mx-4 text-md font-semi-bold text-white">MEN</span>
      <span class="mx-4 text-md font-semi-bold text-white">KIDS</span>
    </div>
    <!-- right side content -->
    <div class="d-flex align-items-center">
      <span class="mx-4 text-md font-semi-bold text-white">ABOUT</span>
      <span class="mx-4 text-md font-semi-bold text-white">CONTACT US</span>
    </div>
  </div>
</div>
