.title{
    font-family: monospace;
    font-size: 55px;
}
.description {
    line-height: 2;
}
.shop_image img {
    width: 100%;
    object-position: center center;
    object-fit: cover;
   
}

.shop_image {
    width: 340px;
    margin: 0px 1px;
    justify-content: center;
    align-items: center;
    border-radius: 180px 180px 1px 1px;
}
.image_title{
    font-family: monospace;
    font-size: 35px;
}

/* new */

/* .shop_container {
    width: 340px;
    height: 50%;
    position: relative;
    margin: 0px 1px;
    border-radius: 180px 180px 1px 1px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .static_info {
    position: relative;
    z-index: 2;
    padding: 20px;
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sliding_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);  
    transition: transform 0.5s ease;
    border-radius: 15px 15px 0 0;
  }
  
  .image_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .shop_image_first {
    width: 100%;
    height: auto;
    padding: 0 15px;
  }
  

  .shop_container:hover .sliding_content {
    transform: translateY(0);
  }
  

  .shop_container:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
 
  .shop_container:hover .static_info {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .static_info {
    transition: opacity 0.3s ease;
  }
  
 
  .static_info {
    background-color: rgba(255, 255, 255, 0.1); 
  }  */
/* added */
.main_content {
    height:100%;
}

.shop_container {
    width: 340px;
    margin: 0px 1px;
    border-radius: 180px 180px 1px 1px;
    overflow: hidden;
    height: 50%;
    top:50%;
    position: relative;
  }

  .shop_container img {
    width: 100%;
    object-position: center center;
    object-fit: cover;
   
}
.static_div:hover .shop_container {
    top:0%;
    height: 100%;
    transform: translateY(0);
  }
  