.title {
  font-family: monospace;
  font-size: 55px;
}

.description {
  line-height: 2;
}

.image_title {
  font-family: monospace;
  font-size: 35px;
}

.main_content {
  height: 100%;
}

.shop_container {
  width: 340px;
  margin: 0px 1px;
  border-radius: 180px 180px 1px 1px;
  overflow: hidden;
  height: 40%;
  top: 60%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.shop_container img {
  width: 100%;
  object-position: center center;
  object-fit: cover;

}

.static_div:hover .shop_container {
  top: 0%;
  height: 100%;
  transform: translateY(0);
}