<div class="banner pb-0">
  <div class="information d-flex">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <span class="title"> Join Our Growing Community </span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <span class="description text-18">
        With over 10,000 happy customers and counting, we are proud to be a
        trusted destination for shoppers worldwide. Partnering with more than
        500 industry-leading brands, we ensure that you receive the highest
        quality products and services. To date, we’ve successfully delivered
        over 20,000 orders, offering fast, secure, and reliable delivery every
        time. Join us today and experience the difference!
      </span>
    </div>
  </div>

  <!-- animated images -->
   <div class="d-flex mt-5">
    @for (data of company_info; track data; let i = $index) {
        <div class="shop_image d-flex flex-column">
            <span class="image_title">{{data.title}}</span>
            <span class="image_title">{{data.count}}</span>
            <img [src]="data.image" class="shop_image_first" />
          </div>
    }
   </div>
</div>
