.title{
    font-family: monospace;
    font-size: 55px;
}
.description {
    line-height: 2;
}
.shop_image img {
    width: 100%;
    object-position: center center;
    object-fit: cover;
   
}

.shop_image {
    width: 340px;
    margin: 0px 1px;
    justify-content: center;
    align-items: center;
    border-radius: 180px 180px 1px 1px;
}
.image_title{
    font-family: monospace;
    font-size: 35px;
}

