.banner {
	background-image: url('../../../../public/banner.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: #4acdbf69;
}

.products {
	background: #f5f7f9;
}