.banner {
	background-image: url('../../../../public/shopping.jpg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.products {
	background: #f5f7f9;
}