.shop_image img {
    width: 100%;
    object-position: center center;
    object-fit: cover;
    background: linear-gradient(160deg, rgba(189,219,158,1) 35%, rgba(237,250,166,1) 64%, rgba(232,238,232,1) 87%);;
    border-radius: 180px 180px 10px 10px;
}

.shop_image {
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_section {
    background: #edfaa67d;
}

.shop_image_first {
    height: 363px;
    margin-top: 49px;
    width: 200px;
}

.shop_image_second {
    height: 416px;
}
