.shop_image img {
    width: 100%;
    object-position: center center;
    object-fit: cover;
    background: #ffffff;
    border-radius: 180px 180px 10px 10px;
}

.shop_image {
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_section {
    background: #4acdbf33;
}

.shop_image_first {
    height: 363px;
    margin-top: 49px;
    width: 200px;
}

.shop_image_second {
    height: 416px;
}

.about_section {
    background: #4acdbf33;
}