<div class="justify-content-center about_section">
  <div class="d-flex mx-5 py-10 justify-content-between">
    <!-- images -->
    <div class="d-flex">
      <div class="shop_image">
        <img src="/about/aboutBag.png" class="shop_image_first" />
      </div>
      <div class="shop_image ms-4">
        <img src="/about/aboutShop.png" class="shop_image_second" />
      </div>
    </div>
    <!-- content -->
    <div class="d-flex justify-content-end">
      <div class="w-75">
        <div class="typing-effect">About Shoppy</div>
        <h3 class="mt-lg-3 mt-md-1 mt-sm-1">
          Welcome to Shoppy, your go-to destination for stylish and elegant
          women's fashion
        </h3>
        <div class="mt-lg-5 mt-md-1 mt-sm-1">
          Explore our curated collection of chic dresses, casual wear, and
          accessories that blend modern trends with timeless elegance. Elevate
          your wardrobe with quality, comfort, and affordable style designed to
          empower every woman.
        </div>
        <div class="mt-lg-5 mt-md-1 mt-sm-1">
          Our mission is to make online shopping easy, convenient, and enjoyable
          for everyone. With a commitment to customer satisfaction and
          sustainable practices, we aim to bring you the best of what the world
          has to offer, right at your fingertips.
        </div>
      </div>
    </div>
  </div>
</div>
