<div class="d-flex justify-content-center">
  <!-- showing only in large screen -->
  <div
    id="carouselExampleIndicators"
    class="carousel slide carousel-fade d-none d-lg-block my-2"
    data-bs-ride="carousel"
  >
    <img
      class="position-relative"
      src="/reviews/review-cloud.png"
      alt="First slide"
    />

    <div class="carousel-inner position-absolute images_container">
      @for (data of reviewsList; track data; let i = $index) {
      <div class="carousel-item" [class.active]="i === currentSlide">
        <div class="overlay-content position-absolute d-flex w-100">
          <div class="userImage rounded-full">
            <img [src]="data.image" alt="user-image" />
          </div>

          <div class="review-text mx-5">
            <img
              alt="open-quote"
              src="/reviews/open-quote.png"
              width="10"
              class="quote-symbol top-quote my-4"
            />
            <p class="text-18">{{ data?.description }}</p>
            <p class="text-18 mt-2 text-end">{{ data?.name}}</p>
            <img
              alt="open-quote"
              src="/reviews/close-quote.png"
              width="10"
              class="quote-symbol bottom-quote float-end my-4"
            />
          </div>
        </div>
      </div>
      }
    </div>

    <!-- move slide button -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
      (click)="moveSlide('previous')"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
      (click)="moveSlide('next')"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- showing only in medium and small screen -->
  <div
    class="banner main_content_small d-lg-none d-flex flex-sm-column flex-md-row background_image"
  >
    <div class="review_container">
      <div class="d-flex align-items-center justify-content-center">
        @for (data of reviewsList; track data; let i = $index) { @if (i ===
        mediumSizeSlides) {
        <div class="review_border d-flex flex-column text-center">
          <div class="text-center min-height: 100vh;">
            <img
              [src]="data.image"
              alt="user-image"
              class="user_image rounded-full"
            />
          </div>

          <p class="text-18 my-4">{{ data?.description }}</p>

          <p class="text-18">-- {{ data?.name }} --</p>
        </div>
        } }
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
        (click)="moveMediumSizeSlide('previous')"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
        (click)="moveMediumSizeSlide('next')"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
