<div class="d-flex justify-content-center my-2">
  <div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel" 
  >
  <img class="position-relative" src="/reviews/review-cloud.png" alt="First slide" />
  
    <div class="carousel-inner position-absolute images_container">
      @for (data of reviewsList; track data;let i = $index) {
      <div class="carousel-item" [class.active]="i === currentSlide">
        <div class="overlay-content position-absolute d-flex w-100">

          <div  class="userImage rounded-full">
            <img
              [src]="data.image"
              alt="user-image"
             
            />
          </div>
       
            <div class="review-text mx-5">
              <div class="quote-symbol top-quote my-4">“</div> 
              <p class="text-18">{{ data?.description }}</p>  
              <div class="quote-symbol bottom-quote float-end my-4">”</div>
           
           </div>
          
        </div>
      </div>
      }
    </div>
    <span
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
      (click)="moveSlide('previous')"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </span>
    <span
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
      (click)="moveSlide('next')"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </span>
  </div>
</div>
