<div class="banner">
    <div class="d-flex  flex-column flex-md-row">
      <div class="text-mute col-lg-4 col-md-4 col-sm-12 text-center text-md-start">
        <span class="text-mute brand_name">SHOPPY</span>
          <div> customer&#64;gmail.com </div>
          <div> (123) 456-7890 </div>
      </div>
      <div class="text-center col-lg-4 col-md-4 col-sm-12 mediun-size-style">
        <div class="social_site">
        <img src="/footer/facebook.svg" class="mx-3" />
        <img src="/footer/likedin.svg" class="mx-3" />
        <img src="/footer/insta.svg" class="mx-3" />
        <img src="/footer/twitter.svg" class="mx-3" />
      </div>
      </div>
  
      <div class="text-center text-md-start text-mute col-lg-4 col-md-4 col-sm-12 mediun-size-style">
        <div class="d-flex flex-column text-center text-md-end">
          <span> Mish Technologies Pvt. Ltd., </span>
          <span>Green Avenue Colony,</span>
          <span>Ropar, Punjab</span>
        </div>
      </div>
    </div>

    <hr />
    <div class="text-center text-mute">
      <span> Copyright © {{ currentYear }} All Rights Reserved. </span>
   
    </div>

</div>
